## if-else condition or conditional statements

In [176]:
age = 22
if age >= 18:
    print("You are allowed to drive")

You are allowed to drive

In [178]:
age = 15
if age >= 18:
    print("You are allowed to drive")

In [182]:
age = 15
if age >= 18:
    print("You are allowed to drive") #Indentation shows if the code is part of the if statement or not
print("hi")

hi

In [188]:
age = 15
if age >= 18:
    print("You are allowed to drive")
else:
    print("You are not allowed to drive")

You are not allowed to drive

## Input Function

In [191]:
a = input()

 20

In [193]:
a

'20'

In [195]:
type(a)

str

#### input function stores the given input in string type by default

In [202]:
a = input("Enter the age")   #we can write the prompt in the parenthesis of the input function

Enter the age 22

In [204]:
a

'22'

#### we can change the datatype of the input by using type conversion

In [207]:
a = int(input("Enter the age"))

Enter the age 22

In [209]:
type(a)

int

In [211]:
age = int(input("Enter the age"))
if age >= 18:
    print("You are allowed to drive")
else:
    print("You are not allowed to drive")

Enter the age 18

You are allowed to drive

In [213]:
age = int(input("Enter the age"))
if age > 18:
    print("You are allowed to drive")
elif age == 18:
    print("Take a test drive")
else:
    print("You are not allowed to drive")

Enter the age 18

Take a test drive

In [251]:
marks = int(input("Enter the marks"))
if marks >= 90:
    print("A+")
elif marks >= 80 and marks < 90:    #another format: 80>marks>=90
    print("A")
elif marks >= 70 and marks < 80:
    print("B+")
elif marks >= 60 and marks < 70:
    print("B")
elif marks >= 50 and marks < 60:
    print("C+")
elif marks >= 40 and marks < 50:
    print("C")
elif marks > 100:
    print("Enter correct marks")
else:
    print("F")

Enter the marks 66

B

## Loops

1. while loop
2. for loop

### while loop : it is like an if statement but which iterates until the condition becomes false

In [3]:
i = 1
while i<=10:
    print(i)
    i = i+1
print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [4]:
i = 1
while i<=10:
    print("DataScience")
    i = i+1

DataScience
DataScience
DataScience
DataScience
DataScience
DataScience
DataScience
DataScience
DataScience
DataScience

In [5]:
i = 1
while i<=10:
    print(5*i)
    i = i + 1

5
10
15
20
25
30
35
40
45
50

### break: it exits the loop

In [13]:
# code to print from 1 to 5
i = 1
while i<=10:
    print(i)
    if i == 5:
        break
    i = i+1

1
2
3
4
5

### continue: it jumps back to the start of the loop without running what is below it

In [11]:
#code to skip the number '5'
i = 0
while i < 10:
    i = i+1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [23]:
# code to print from 1 to 10 with skipping the numbers divisible by three
i = 0
while i < 10:
    i = i+1
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10

In [16]:
i = 0
while i < 10:
    i = i+1
    if i in [3,6,9]:
        continue
    print(i)

1
2
4
5
7
8
10

## for loop: in this type of loop it iterates over an "iterable".

### In programming, an "iterable" is an object that can be looped over, example: list, tuple, set, range etc

In [22]:
a1 = [1,2,3,4,5]
for i in a1:
    print(i*2)

2
4
6
8
10

In [18]:
a1 = (1,2,3,4,5)
for i in a1:
    print(i*2)

2
4
6
8
10

In [24]:
a1 = {5,2,1,3,4}
for i in a1:
    print(i*2)

2
4
6
8
10

In [30]:
a1 = {'x':1, 'y':2, 'z':3}
for i in a1:
    print(i)

x
y
z

In [31]:
a1 = {"numbers":[1,2,3,4,5]}
for i in a1:
    for j in a1[i]:
        print(j)

1
2
3
4
5

In [32]:
a1 = {'x':1, 'y':2, 'z':3}
for i in a1.keys():
    print(i)

x
y
z

In [33]:
for i in a1.values():
    print(i)

1
2
3

In [34]:
for i in a1.items():
    print(i)

('x', 1)
('y', 2)
('z', 3)

### range : it generates numbers as follows- range(start,end,stepsize)

In [36]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
tuple(range(10,20))

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [38]:
set(range(10,20))

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [39]:
list(range(20,9,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

### If you just put one number in the range function it will act as the end and the start by default will be 0.

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
#using loop with range()
for i in range(1,11):
    print(i)
else:
    print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [48]:
for i in range(1,11):
    print('5 *',i,'=',i*5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
a1 = [13, 18, 15, 17, 22, 24, 11, 8]
a1

[13, 18, 15, 17, 22, 24, 11, 8]

In [5]:
for i in a1:
    if i % 2== 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

13 is odd
18 is even
15 is odd
17 is odd
22 is even
24 is even
11 is odd
8 is even

In [17]:
a2 = []
for i in a1:
    if i % 2== 0:
        a2.append(i)
a2

[18, 22, 24, 8]

## very important problem, refer and practice it again

In [69]:
n = int(input("enter number"))
if n>1:
    for i in range(2,n):
        if n%i == 0:
            print(f"{n} is not prime")
            break
    else:
        print(f"{n} it is prime")
elif n==1:
    print("1 is neither prime nor composite")
else:
    print(f"{n} is not prime")

enter number 1

1 is neither prime nor composite

# Functions:
1. in-built functions
2. User-defined function
3. Lambda/Anonymous functions

## User-defined function

In [119]:
def area_of_circle(r):
    return (3.1415)*(r*r)

In [117]:
def area_of_rect(l,b):
    return l*b

In [94]:
area_of_rect(2,4)

area of the rectangle is 8

In [96]:
area_of_circle(10)

area of the cicle is 314.15000000000003

In [99]:
radius = int(input("enter radius: "))
print("area of the cicle is", (3.1415)*(radius**2))

enter radius:  5

area of the cicle is 78.53750000000001

In [121]:
length = int(input("Enter the length"))
breadth = int(input("enter the breadth"))
area_of_rect(length,breadth)

Enter the length 5
enter the breadth 5

25

In [27]:
def even_list(list1):
    list2=[]
    for i in list1:
        if i % 2== 0:
            list2.append(i)
    return list2

In [9]:
a2 = [13, 18, 15, 17, 22, 24, 11, 8]
print(even_odd_arranger(a2))

[18, 22, 24, 8]

In [29]:
# a function which takes a number as input and return whether it is prime or not prime
def prime(n):
    if n>1:
        for i in range(2,n):
            if n%i == 0:
                return(f"{n} is not prime")
                break
        else:
            return(f"{n} is a prime")
    elif n==1:
        return("1 is neither prime nor composite")
    else:
        return(f"{n} is not prime")

In [27]:
prime(3)

'3 is a prime'

In [5]:
def double_number(n):
    return n*2

In [7]:
double_number(2)

4

## Lambda function or anonymous function

In [9]:
a1 =lambda a: a*2

In [13]:
a1(5)

10

In [15]:
a2 = lambda a,b : a+b

In [17]:
a2(1,2)

3

In [21]:
a3 = lambda a: a**2
a3(4)

16

1. filter
2. map
3. reduce

## Uses of lambda function

### filter : it filters out the provided iterable using the given function

### syntax: filter(function,iterable)

In [29]:
a2 = [13, 18, 15, 17, 22, 24, 11, 8]
list(filter(lambda a: a%2 == 0, a2))

[18, 22, 24, 8]

### map : it applies the provided function to all the elements of the iterable

In [46]:
list(map(double_number, a2))

[26, 36, 30, 34, 44, 48, 22, 16]

In [42]:
list(map(lambda a: a*2, a2))

[26, 36, 30, 34, 44, 48, 22, 16]

### reduce : to reduce the whole iterable into one element

In [53]:
from functools import reduce

In [59]:
reduce(lambda a,b:a+b, a2)

128

In [63]:
reduce(lambda a,b: a if a>b else b, a2)

24

Practice and explore lambda function more

In [69]:
a = 0
a2 = lambda a: while a<=10 :  a = a+1 print a

SyntaxError: invalid syntax (3792295579.py, line 2)

## Libraries, Packages and Moddules

#### example: 
#### import science (or)
#### from science import physics (or)
#### from science.maths import differentiation
#### and so on

### Hierarchy 
Library>Packages>Modules>Submodules

In [29]:
import datetime
from datetime import date

In [19]:
my_date = date(2025, 1, 26) # format for date is yyyy mm dd

In [17]:
print(my_date)

2025-01-26

In [11]:
my_date.day

26

In [13]:
my_date.year

2025

In [15]:
my_date.month

1

In [23]:
today_date = date.today()

In [27]:
print(today_date)

2025-04-30

In [31]:
from datetime import datetime

In [33]:
now1 = datetime.now()
print(now1)

2025-04-30 11:17:08.029493

In [35]:
now1.hour

11

In [37]:
now1.minute

17

In [39]:
now1.second

8

In [45]:
now1.microsecond

29493

In [47]:
from datetime import datetime as dt # as is used to give alias

In [49]:
print(dt.now())

2025-04-30 11:21:42.280746

In [51]:
date1 = dt.now()
print(date1.day)

30