# HomeWork Problems

### 24/04/2025
#### Question: Create a program which takes units from the user and calculates the electric bill charges based on the units used.
#### Logic:
#### if units <= 200 then no charges,
#### if > 200 and <= 300 then 5 rupees per units and
#### if >300 then rupees 10 per unit.

In [7]:
units = int(input("Enter the units consumed: "))
if units <= 200:
    print("No charges")
elif 200 < units <= 300:
    above_200 = units - 200
    print("Charges:", above_200*5)
elif units > 300:
    above_300 = units - 300
    print("Charges:", (above_300*10)+500)

Enter the units consumed:  256

Charges: 280

In [21]:
units = int(input("Enter the units consumed: "))
if units <= 200:
    print("No charges")
elif 200 < units <= 300:
    above_200 = units - 200
    print("Charges:", above_200*5)
elif units > 300:
    above_300 = units - 300
    print("Charges:", (above_300*10)+500)

Enter the units consumed:  328

Charges: 780

## Python Assignment questions:

### 1)Write a Python program to get the Python version you are using

In [3]:
import sys

In [9]:
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

### 2)Write a Python program to display the current date and time

In [3]:
import datetime

In [5]:
present = datetime.datetime.now()
print("Current date and time is:", present)

Current date and time is: 2025-05-04 16:16:31.747925

### 3) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [4]:
radius = float(input("Enter the radius: "))
def area_of_cir(r):
    return (3.1415*(r**2))

print("Area of the circle is:", area_of_cir(radius))

Enter the radius:  5

Area of the circle is: 78.53750000000001

### 4)Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [7]:
5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

17.2

### 5)Write code to test whether the given number lies between 1 and 10

In [18]:
user_input = int(input("Enter the number: "))
if user_input in range(1,11):
    print("Given number is between 1 to 10")
else:
    print("Given nubmer is not between 1 to 10")

Enter the number:  10

Given number is between 1 to 10

### 6)sum the numbers from 1 to 20 using for loop

In [29]:
list1 = list(range(1,21))
sum_of_list1 = 0
for i in list1:
    sum_of_list1 = i + sum_of_list1
print(sum_of_list1)

210

In [42]:
from functools import reduce
reduce((lambda a,b: a+b),list1)

210

### 7)Display the numbers in reverse from 100 to 1

In [56]:
list(range(100,0,-1))

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [61]:
list2 = list(range(1,101))
list2[::-1]

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

### 8)Display multiples of 2 from 10 to 50 using range

In [63]:
list3 = list(range(10,51))
for i in list3:
    print(2*i)

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 9)From the below nested dictionary, pick the word "Bangalore".

In [69]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [71]:
print(d['2'][1]['Two'][3]['Place'][3])

Bangalore

### 10)Use functions to return square of numbers from 2 to 5

In [76]:
def square(n):
    return n*n
for i in range(2,6):
    print (square(i))

4
9
16
25

### 11)Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and  tuple with those numbers

In [89]:
user_input = input("Enter a sequence of comma-separated numbers: ")
list4 = user_input.split(',')
print("List of the given numbers is", list4)
print("Tuple of the given numbers is", tuple(list4))

Enter a sequence of comma-separated numbers:  1,2,3,4,5

List of the given numbers is ['1', '2', '3', '4', '5']
Tuple of the given numbers is ('1', '2', '3', '4', '5')

### 12) Write a Python program to display the first and last colors from the following list.

In [92]:
color_list = ["Red","Green","White" ,"Black"]
print("first color:", color_list[0])
print("last color:", color_list[-1])

first color: Red
last color: Black

### 13)Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [97]:
from datetime import date

In [113]:
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
print(abs((date1.day) - (date2.day)))

9

### 14)Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference

In [126]:
user_number = int(input("Enter a number: "))
if user_number > 17:
    print("Difference:", user_number - 17)
    print("Double the absolute difference:", (user_number - 17)*2)
else:
    print("Difference:", user_number - 17)

Enter a number:  25

Difference: 8
Double the absolute difference: 16

### 15)To check whather given element exists in list or not?? list=[1,2,3,4,5,6,7,8,9,10] check if 9 and 12 are present in given list or not

In [132]:
user_number = int(input("Enter the number: "))
list5 =[1,2,3,4,5,6,7,8,9,10]
if user_number in list5:
    print("The number is in the list.")
else:
    print("The number is not in the list.")
if 9 in list5:
    print("9 is in the list")
else:
    print("9 is not in the list")
if 12 in list5:
    print("12 is in the list")
else:
    print("12 is not in the list")

Enter the number:  5

The number is in the list.
9 is in the list
12 is not in the list

### 16)Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.And also it must return both addition and subtraction in a single return call

In [141]:
def calculation(a,b):
    return a+b, a-b
calculation(2,3)

(5, -1)

### 17)Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000

In [169]:
def showEmployee(name,salary=9000):
    print("Employee Name:", name)
    print("Salary:", salary)

showEmployee("Omer")

Employee Name: Omer
Salary: 9000

### 18) Write a recursive function to calculate the sum of numbers from 0 to 10

In [1]:
def sum_of_sequence(x):
    if x == 1:
        return 1
    elif x == 0:
        return 0
    else:
        return x + sum_of_sequence(x-1)

sum_of_sequence(10)

55

### 19)Generate a Python list of all the even numbers between 4 to 30

In [194]:
list6 = list(range(4,31))
list(filter(lambda a: a%2 == 0, list6))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### 20)Return the largest item from the given list

In [199]:
from functools import reduce
reduce(lambda a,b: a if a>b else b, list6)

30

## More Practice Questions

### 1. Write a Python program to print the following string in a specific format (see the output). Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output : Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are

In [3]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

### 2. Write a Python program to get the Python version you are using

In [17]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

### 3. Write a Python program to display the current date and time.

In [22]:
import datetime
print(datetime.datetime.now())

2025-05-05 09:57:16.305342

### 4. Write a Python program which accepts the radius of a circle from the user and compute the area

In [27]:
radius = int(input("Enter the radius: "))
print("Area of the circle is:", 3.14*radius**2)

Enter the radius:  5

Area of the circle is: 78.5

### 5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [30]:
first_name = input("Enter your first Name: ")
last_name = input("Enter your last Name: ")
print("Hello,", last_name, first_name)

Enter your first Name:  Omer
Enter your last Name:  Farooq

Hello, Farooq Omer

### 6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list  with those numbers

In [33]:
user_input = input("Enter the numbers: ")
list(user_input.split(","))

Enter the numbers:  1,2,3,4,5,6

['1', '2', '3', '4', '5', '6']

### 7. Write a Python program to accept a filename from the user and print the extension of that

In [38]:
filename = input("Enter your file name: ")
prefix, extension = filename.split(".")
print(f"The extension of your file is: .{extension}")

Enter your file name:  college.py

The extension of your file is: .py

### 8. Write a Python program to display the first and last colors from the following list

In [41]:
color_list = ["yellow","Green","grey" ,"orange"]
first_color = color_list[0]
last_color = color_list[-1]
print(f"First color is {first_color} and Last color is {last_color}")

First color is yellow and Last color is orange

### 9. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

In [53]:
#accept the number from user as string
n = input("Enter a number: ")
#concatenate the string n with another n and then convert into integer
nn = int(n + n)
nnn = int(n + n + n)
#compute the given expression by converting the input into integer and then adding all the values
computation = int(n) + nn + nnn
print(f"n+nn+nnn = {computation}")

Enter a number:  1

n+nn+nnn = 123

### 10.Write a program to demonstrate different number data types in Python.

In [63]:
a1 = 10
a2 = 10.5
a3 = True
a4 = 2 + 3j
print(a1, type(a1))
print(a2, type(a2))
print(a3, type(a3))
print(a4, type(a4))

10 <class 'int'>
10.5 <class 'float'>
True <class 'bool'>
(2+3j) <class 'complex'>

### 11. Python Program to find sum of array

In [68]:
from functools import reduce
l1 = [1,2,3,4,5,6]
print(f"Sum of the array is {reduce(lambda a,b:a+b, l1)}")

Sum of the array is 21