# Data Types

- Numeric -int, float, complex
- Boolean - bool - True(1) and False(0)
- String - str- Text data given within double quotes

Numeric data type
- int - whole nos. (both +ve and -ve)
- float - decimal nos.
- complex - real and imaginary part

In [33]:
import keyword

In [11]:
intvar = 15

In [15]:
type(intvar) #type() gives the datatype of the variable

int

In [17]:
floatvar = 20.15

In [19]:
type(floatvar)

float

In [21]:
complexvar = 3 + 5j

In [23]:
type(complexvar)

complex

In [25]:
#we can also initialize multiple variable in one go
a,b,c = 1, 5, 9

In [31]:
print(a, b, c, sep = "\n")

1
5
9

In [3]:
# integer
a = 10
print(type(a))

<class 'int'>

In [15]:
import sys
print(sys.getsizeof(a)) # getsizeof() returns the memory allocated to the variable in bytes
print(isinstance(a, float)) #isinstance() returns a boolean value based on if the variable belongs to the given datatype or not

28
False

In [21]:
# float
b = 200.5
print(type(b))
print(sys.getsizeof(b))
print(isinstance(b,float))

<class 'float'>
24
True

In [25]:
# complex
c = 2 + 5j
print(type(c))
print(sys.getsizeof(c))
print(isinstance(c,complex))

<class 'complex'>
32
True

In [27]:
# boolean
d = True
print(type(d))

<class 'bool'>

In [29]:
# string
e = "Hello Everyone"
print(type(e))

<class 'str'>

## Typecasting / Typeconversion
- Converting one datatype to another datatype
- two types - Auto typecasting and Forced typecasting
- Auto Typecasting - Python interpretor directly converts the datatype based on a hierarchy
- Forced Typecasting - We can manually convert one datatype into another using predefined functions.
- <b> In Autotypecasting conversion happens from lower datattype to higher datatype. </b>
### Predefined functions in Forced Typecasting
- int()
- float()
- complex()
- bool()
- str()

In [58]:
# AutoTypecasting
5 + 2.4 + True 
# in this example the highest priority is given to float according to the hierarchy and the other datatypes are converted to float
# therefore we get 8.4 as the sum

8.4

In [60]:
(3 + 5j) + 4 + False + 2.5

(9.5+5j)

In [72]:
4 + 1.5 + True + 'hi' # we get an error here because the string datatype cannot get added to vice versa

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [66]:
# Forced Typecasting
a = 5.6
print(int(a))
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))

5
5.6
(5.6+0j)
True
5.6

In [70]:
b = 5
print(int(b))
print(float(b))
print(complex(b))
print(bool(b))
print(str(b))

5
5.0
(5+0j)
True
5

In [84]:
c = 3 + 4j
print(bool(c))
str(c)

True

'(3+4j)'

In [90]:
d = True
print(int(d))
print(float(d))
print(complex(d))
print(str(d))

1
1.0
(1+0j)
True

In [98]:
e = 'Hello'
print(bool(e))

True

In [102]:
int(4.5) + float(2) + (3 + 5j)
# 4 + 2.0 + (3 + 5j)
# (4 + 0j) + (2.0 + 0j) + (3 + 5j)

(9+5j)

In [106]:
float('5') + int(2.4) + True

8.0

In [110]:
int('4')

4

# Operators
## Arithmetic operators:

In [11]:
print(3+2)
print(3-2)
print(2*2)
print(6/3) #Float Division
print(6//3) #Floor Division
print(4**2) #Exponent
print(12%5) #Modulo

5
1
4
2.0
2
16
2

## Comparison opertaor

In [15]:
a1 = 10
a2 = 15
a3 = 12

In [17]:
a1 > a2

False

In [19]:
a2 < a1

False

In [21]:
a1 == a2

False

In [23]:
a1 <= a2

True

In [25]:
a2 >= a3

True

In [27]:
a2 != a3

True

### Logical Operator

In [32]:
a1 = True
a2 = False
a3 = True
a4 = False

In [34]:
a1 and a3

True

In [36]:
a2 and a4

False

In [38]:
a1 and a2

False

In [44]:
a1 or a4

True

In [46]:
a3 or a4

True

## Membership Operator

In [54]:
a1 = "hello everyone"
print(len(a1))

14

In [56]:
"v" in a1

True

In [58]:
"x" in a1

False

In [60]:
"v" not in a1

False

In [62]:
"x" not in a1

True

### 22/04/2025

# Data Structures
- List
- Tuple
- Set
- Dictionary

## List
- List is enclosed in a square bracket '[]'.
- List allows duplicates.
- List is mutable, which means we can modify the list later.
- List is ordered.
- List is indexed.

In [9]:
a1 = [34, 32, 53, 23, 56, 23, 10, 88]   #list of integers
a1

[34, 32, 53, 23, 56, 23, 10, 88]

In [7]:
type(a1)

list

In [17]:
a2 = [12.5, 35.3, 23.5]  #list of floats
print(a2)
type(a2)

[12.5, 35.3, 23.5]

list

In [21]:
a3 = ["Apple", "Banana", 45, True, 12.5] #Mixed list
print(a3)
type(a3)

['Apple', 'Banana', 45, True, 12.5]

list

In [114]:
a4 = [3, 5, [4, 9, 6], 2, 4]    #Nested list
print(a4)
type(a4)

[3, 5, [4, 9, 6], 2, 4]

list

## List indexing and slicing
syntax : [ start : end : step ]

In [3]:
a5 = [12, 14, 17, 19, 7, 3, 22, 8, 32, 29, 25]

In [123]:
len(a5)

11

In [19]:
a5[::-1]

[25, 29, 32, 8, 22, 3, 7, 19, 17, 14, 12]

In [11]:
a5[::2]

[12, 17, 7, 22, 32, 25]

In [126]:
a5[:5]

[12, 14, 17, 19, 7]

In [127]:
a5[:-6]

[12, 14, 17, 19, 7]

In [128]:
a5[6:]

[22, 8, 32, 29, 25]

In [129]:
a5[-5:]

[22, 8, 32, 29, 25]

In [130]:
a5[8:1:-1] #when we use step as -1 it reverses the order

[32, 8, 22, 3, 7, 19, 17]

In [131]:
a5[-3:-10:-1]

[32, 8, 22, 3, 7, 19, 17]

In [132]:
a5[::-1]

[25, 29, 32, 8, 22, 3, 7, 19, 17, 14, 12]

In [133]:
a6=[2,4,6,8,10,1,3,5,7,9,11,13,15,17,12,14]
a6

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 12, 14]

In [134]:
a6[3:14:2]

[8, 1, 5, 9, 13, 17]

In [135]:
a6[-13:-2:2]

[8, 1, 5, 9, 13, 17]

In [136]:
a6[13:2:-2]

[17, 13, 9, 5, 1, 8]

In [137]:
a6[-3:-14:-2]

[17, 13, 9, 5, 1, 8]

In [116]:
a4[2]

[4, 9, 6]

In [120]:
a4[2][1]

9

### Add, change and remove items of list (Modification):

In [25]:
l1 = [1,2,3,4,5,6]
l1

[1, 2, 3, 4, 5, 6]

In [31]:
l1.insert(3,8)
l1

[1, 2, 3, 8, 8, 8, 4, 5, 6]

### append() - add a single element at the end of the list

In [183]:
l1.append(7)
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [185]:
l1.append(8)

In [187]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

### extend() - add multiple elements at the end of the list

In [194]:
l1.extend([9,10,11])

In [33]:
l1

[1, 2, 3, 8, 8, 8, 4, 5, 6]

### insert() - add element at a specific position in the list

##### Syntax - list_name.insert(position, value)

In [35]:
l1.insert(5, 13)

In [211]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 13]

In [215]:
l1[-1] = 14

In [217]:
l1[-2] = 13
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### pop() - removes the element at given index location
Syntax - list_name.pop(position) /
by default it will remove the last element

In [219]:
l1.pop(-1)

14

In [221]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

### del - it is a keyword and can be used generally for lists, strings etc

In [227]:
del l1[-1]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### clear() - it removes all elements from the list without deleting the list

In [229]:
l1.clear()
l1

[]

### Reversing and sorting the List

1. Temporary reversing

In [259]:
l2 = [1,2,3,4,5]
l2[::-1]

[5, 4, 3, 2, 1]

2. Permanent reversing, method 1

In [249]:
l2 = [1,2,3,4,5]
l2 = l2[::-1]

In [251]:
l2

[5, 4, 3, 2, 1]

3. Permanent reversing, method 2

In [253]:
l2.reverse()

In [255]:
l2

[1, 2, 3, 4, 5]

4. Permanent sorting

In [267]:
l3 = [54, 3, 12, 66]
l3.sort()

In [269]:
l3

[3, 12, 54, 66]

In [271]:
l3.sort(reverse= True)

In [273]:
l3

[66, 54, 12, 3]

5. Temporary sorting

In [277]:
sorted(l3)

[3, 12, 54, 66]

In [279]:
sorted(l3, reverse=True)

[66, 54, 12, 3]

## Tuple

- Tuples are immutable which means once it is made, it cannot be modified
- Tuples are ordered
- Tuples are indexed
- A tuple is enclosed in parenthesis '()'.
- Tuples allow duplicate values.
- Tuples are faster than lists

In [52]:
tup1 = (1,2,3,4)   #tuple of integers
print(tup1)

(1, 2, 3, 4)

In [40]:
type(tup1)

tuple

In [48]:
tup2 = (1.3, 0.1, 23.1)   #tuple of floats
print(tup2)

(1.3, 0.1, 23.1)

In [46]:
tup3 = ("h","i")   #tuple of strings
print(tup3)

('h', 'i')

In [54]:
tup4 = ("A", 1, 1.5, True)   #mixed tuple
print(tup4)

('A', 1, 1.5, True)

In [56]:
tup5 = (1, 2, (3,4), 5)    #nested tuple
print(tup5)

(1, 2, (3, 4), 5)

In [58]:
tup6 = ("a", "b", ["A", "B"])   #list inside a tuple
print(tup6)

('a', 'b', ['A', 'B'])

In [60]:
lst1 = [23, 43, (1,2,3), 53]   #tuple inside a list
print(lst1)

[23, 43, (1, 2, 3), 53]

### Tuple indexing and slicing -- same as list

## Some other useful methods

1. count() - return the number of occurences of the given element

In [7]:
lst2 = [1,2,3,4,5,5]
tup7 = (1,2,3,4,5,4)
str1= "hello world"

In [9]:
print(lst2.count(5))
print(tup7.count(4))
print(str1.count("l"))

2
2
3

2. index() - return the lowest index of the given value

In [11]:
print(lst2.index(3))
print(tup7.index(2))
print(str1.index("o"))

2
1
4

## Sets

In [161]:
s1 = {12, 9, 15, 8, 5, 22, 9, 8}          #Set o intergers
s1

{5, 8, 9, 12, 15, 22}

In [163]:
s2 = {5.7, 3.9, 11.4, 8.3, 3.9}           #Set o float
s2

{3.9, 5.7, 8.3, 11.4}

In [167]:
s3 = {'Apple', "Banana", "Apple", 'apple', "Kiwi", 'banana'}        #Set o strings
s3

{'Apple', 'Banana', 'Kiwi', 'apple', 'banana'}

In [169]:
s4 = {6, 3.4, 9, 5.6, 1.2, 2}
s4

{1.2, 2, 3.4, 5.6, 6, 9}

In [171]:
s5 = {4, 2, 45, 8, 2.5, 22, 'hi', 'apple', 7}
s5

{2, 2.5, 22, 4, 45, 7, 8, 'apple', 'hi'}

## Dictionary

In [16]:
d1 = {'Name':'Rahul', 'Age':25, 'Id':'A001'}
d1

{'Name': 'Rahul', 'Age': 25, 'Id': 'A001'}

In [18]:
d1.keys()

dict_keys(['Name', 'Age', 'Id'])

In [20]:
d1.values()

dict_values(['Rahul', 25, 'A001'])

In [22]:
d1.items()

dict_items([('Name', 'Rahul'), ('Age', 25), ('Id', 'A001')])

In [24]:
d2 = {'Name':'Rahul', 'Age':25, 'Id':'A001', 'Name':'Pavan'}
d2

{'Name': 'Pavan', 'Age': 25, 'Id': 'A001'}

In [26]:
d3 = {'Name':'Rahul', 'Age':25, 'Id':'A001', 'Name1':'Rahul'}
d3

{'Name': 'Rahul', 'Age': 25, 'Id': 'A001', 'Name1': 'Rahul'}

In [34]:
a1 = []
a1

[]

In [36]:
type(a1)

list

In [30]:
a2 = ()
a2

()

In [38]:
type(a2)

tuple

In [32]:
a3 = {}
a3

{}

In [40]:
type(a3)

dict

### NOTE: you can not create and empty set. An empty flower bracket is always a dictionary

In [43]:
d4 = {"Name" : ["Rahul", "Omer", "Pavan", "Vinod"], "Age" : [22,23,24], "Address" : "xyz"}
d4

{'Name': ['Rahul', 'Omer', 'Pavan', 'Vinod'],
 'Age': [22, 23, 24],
 'Address': 'xyz'}

In [45]:
d4.keys()

dict_keys(['Name', 'Age', 'Address'])

In [47]:
d4.values()

dict_values([['Rahul', 'Omer', 'Pavan', 'Vinod'], [22, 23, 24], 'xyz'])

In [49]:
d4.items()

dict_items([('Name', ['Rahul', 'Omer', 'Pavan', 'Vinod']), ('Age', [22, 23, 24]), ('Address', 'xyz')])

### NOTE: when you assign multiple values to a variable without using any brackets, the default data structure will be tuple

In [55]:
a1 = 12, 13, 14
a1

(12, 13, 14)

In [57]:
type(a1)

tuple

## Indexing in Dictionary

In [60]:
d1

{'Name': 'Rahul', 'Age': 25, 'Id': 'A001'}

In [62]:
d1["Name"]

'Rahul'

In [68]:
d1["Name"][2]   #if we want to get an element from within an element we can use the square brackets twice and vice versa.

'h'

In [66]:
d1["Age"]

25

In [70]:
d4

{'Name': ['Rahul', 'Omer', 'Pavan', 'Vinod'],
 'Age': [22, 23, 24],
 'Address': 'xyz'}

In [145]:
d4['Name'][3]

'Vinod'

In [78]:
d4["Name"][1][1]

'm'

In [80]:
d5 = {"Location" : {"Place" : ["Bangalore", "Hyderabad"], "Area":["Kudlu Gate", "Madhapur"]}}
d5

{'Location': {'Place': ['Bangalore', 'Hyderabad'],
  'Area': ['Kudlu Gate', 'Madhapur']}}

In [82]:
d5["Location"]["Place"]

['Bangalore', 'Hyderabad']

In [94]:
d5["Location"]["Area"][0][-4]

'G'

In [98]:
d6 = [3, 5, [2, 8, {'a':{'Place':['Bangalore', 'Hyderabad']}}, 3, (6,10,12), 7], 5]
len(d6)

4

In [100]:
type(d6)

list

In [102]:
d6[-1]

5

In [104]:
d6[2][4][1]

10

In [108]:
d6[2][2]["a"]["Place"][1][3]

'e'

### Add, Remove and change items of dictionary

In [111]:
d1

{'Name': 'Rahul', 'Age': 25, 'Id': 'A001'}

### .update() is used to add new key and value pairs, change values and add or change multiple values.

In [115]:
d1.update({'Salary' : 50000})

In [117]:
d1

{'Name': 'Rahul', 'Age': 25, 'Id': 'A001', 'Salary': 50000}

In [119]:
d1.update({'Profession' : 'Data Scientist', 'Address' : 'xyz'})
d1

{'Name': 'Rahul',
 'Age': 25,
 'Id': 'A001',
 'Salary': 50000,
 'Profession': 'Data Scientist',
 'Address': 'xyz'}

In [121]:
d1.update({'Age' : 30})

In [123]:
d1

{'Name': 'Rahul',
 'Age': 30,
 'Id': 'A001',
 'Salary': 50000,
 'Profession': 'Data Scientist',
 'Address': 'xyz'}

### We can also use assignment operator '=' to change values, add new key and value pairs and add or change multiple values.

In [125]:
d1['Name'] = 'Omer'
d1

{'Name': 'Omer',
 'Age': 30,
 'Id': 'A001',
 'Salary': 50000,
 'Profession': 'Data Scientist',
 'Address': 'xyz'}

In [127]:
d1['Gender'] = 'Male'

In [147]:
d1['Id'] = "a1"

In [149]:
d1

{'Name': 'Omer',
 'Age': 30,
 'Salary': 50000,
 'Profession': 'Data Scientist',
 'Address': 'xyz',
 'Gender': 'Male',
 'Id': 'a1'}

### .pop() is used to remove keys from a dictionary, but some value must be passed in it or it will throw error unlike in lists.

In [151]:
d1.pop('Id')

'a1'

In [153]:
d1

{'Name': 'Omer',
 'Age': 30,
 'Salary': 50000,
 'Profession': 'Data Scientist',
 'Address': 'xyz',
 'Gender': 'Male'}

## if-else condition or conditional statements

In [176]:
age = 22
if age >= 18:
    print("You are allowed to drive")

You are allowed to drive

In [178]:
age = 15
if age >= 18:
    print("You are allowed to drive")

In [182]:
age = 15
if age >= 18:
    print("You are allowed to drive") #Indentation shows if the code is part of the if statement or not
print("hi")

hi

In [188]:
age = 15
if age >= 18:
    print("You are allowed to drive")
else:
    print("You are not allowed to drive")

You are not allowed to drive

## Input Function

In [191]:
a = input()

 20

In [193]:
a

'20'

In [195]:
type(a)

str

#### input function stores the given input in string type by default

In [202]:
a = input("Enter the age")   #we can write the prompt in the parenthesis of the input function

Enter the age 22

In [204]:
a

'22'

#### we can change the datatype of the input by using type conversion

In [207]:
a = int(input("Enter the age"))

Enter the age 22

In [209]:
type(a)

int

In [211]:
age = int(input("Enter the age"))
if age >= 18:
    print("You are allowed to drive")
else:
    print("You are not allowed to drive")

Enter the age 18

You are allowed to drive

In [213]:
age = int(input("Enter the age"))
if age > 18:
    print("You are allowed to drive")
elif age == 18:
    print("Take a test drive")
else:
    print("You are not allowed to drive")

Enter the age 18

Take a test drive

In [251]:
marks = int(input("Enter the marks"))
if marks >= 90:
    print("A+")
elif marks >= 80 and marks < 90:    #another format: 80>marks>=90
    print("A")
elif marks >= 70 and marks < 80:
    print("B+")
elif marks >= 60 and marks < 70:
    print("B")
elif marks >= 50 and marks < 60:
    print("C+")
elif marks >= 40 and marks < 50:
    print("C")
elif marks > 100:
    print("Enter correct marks")
else:
    print("F")

Enter the marks 66

B